<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/style.css"/>
		<title>CPDOne Backbone JS</title>
	</head>
	<body>
	<div id="nodeapp">
		<div id="add-modal" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Node</h4>
		      </div>
		      <div class="modal-body">
		        <input id="new-node" type="text" placeholder="Enter title">
				<input id="new-description" type="text" placeholder="Enter description">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" id="new-submit" class="btn btn-primary"><strong>Create</strong></button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
			<main>
				<h1>Backbone JS</h1><a href="index.php" style="display: none;">Todo</a>
				<div>
					<button id="add-button" class="btn btn-primary" data-toggle="modal" data-backdrop="static"  data-target="#add-modal">
						<span class="glyphicon glyphicon-plus"></span>&nbsp;<strong>Add Node</strong>
					</button>
					<div class="alert alert-success saved hide" role="alert"><span class="glyphicon glyphicon-ok"></span>&nbsp;Node successfully modified.</div>
					<div class="alert alert-success added hide" role="alert"><span class="glyphicon glyphicon-ok"></span>&nbsp;Node successfully added.</div>
					<section id="main">
					<ul id="node-list"></ul>
				    </section>
				</div>
			</main>
		</div>
	</body>
	<script src="assets/js/json2.js"></script>
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/underscore.js"></script>
	<script src="assets/js/backbone.js"></script>
	<script src="assets/js/backbone.localStorage.js"></script>
	<script src="assets/js/backbone.nested.js"></script>
	<script src="assets/js/basic.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/template" id="node-template">
		<div class="node" id="node-<%- id %>">
			<input type="text" placeholder="Enter title" class="node-title" value="<%- title %>" />
			<input type="text" placeholder="Enter description" class="node-description" value="<%- description %>" />
			<button class="btn btn-danger btn-node-delete">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			<button class="btn btn-warning btn-node-add" data-toggle="modal" data-backdrop="static" data-target="#add-modal">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button class="btn btn-success btn-node-save">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
		</div>
	</script>
</html>