<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/style.css"/>
	</head>
	<body>
		<main>
			<h1>Backbone JS (Node)</h1><a href="index.php" style="display: none;">Todo</a>
			<div id="nodeapp">
				<header>
					<input id="new-node" type="text" placeholder="Enter title">
					<input id="new-description" type="text" placeholder="Enter description">
					<button id="new-submit" class="btn btn-primary">Create Node</button>
				</header>
				<section id="main">
				<ul id="node-list"></ul>
			    </section>
			</div>
		</main>
	</body>
	<script src="assets/js/json2.js"></script>
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/underscore.js"></script>
	<script src="assets/js/backbone.js"></script>
	<script src="assets/js/backbone.localStorage.js"></script>
	<script src="assets/js/basic.js"></script>

	<script type="text/template" id="node-template">
		<div class="node" id="<%- id %>">
			<input type="text" placeholder="Enter title" class="node-title" value="<%- title %>" />
			<input type="text" placeholder="Enter description" class="node-description" value="<%- description %>" />
			<input type="button" value="Edit" class="btn-node-edit hide" />
			<input type="button" value="X" class="btn btn-danger btn-node-delete" />
		</div>
	</script>
</html>